* {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro";
}

.navassets {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;


}

.logo {
    margin-left: 9vw;
}


ul {
    display: flex;
    gap: 35px;
    cursor: pointer;
}

.navul li:hover {

    transition: all 0.3s ease-in-out;
    color: hsl(227, 12%, 61%);
}

ul li {
    list-style: none;
    font-weight: 500;
}

.btnnav {
    position: sticky;
    height: 33px;
    width: 110px;
    border-radius: 999px;
    padding-top: 11px;
    margin-right: 9vw;
    background-color: hsl(12, 88%, 59%);

    text-align: center;
    vertical-align: middle;
    z-index: 5;
}

.btnnav button {
    color: hsl(0, 0%, 98%);
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: none;
}

.btnnav:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

.hamnav {
    display: none;
}

.hamnav {
    border: none;
    background: none;
}

.mobilemenu {
    display: none;


}

.closebtn {
    display: none;
}



.backgroundprint {
    display: flex;
    justify-content: flex-end;

}

.backgroundimage1 {
    position: absolute;
    z-index: 1;
    margin-right: -5vw;
    transform: translateY(-12rem);
    height: auto;
    width: 40%
}

.hook {
    display: flex;
    gap: 12rem;
    padding-top: 7rem;
    margin-left: 9vw;
    transform: translateY(-rem);

}

.hook h1 {
    color: hsl(228, 39%, 23%);
    line-height: 51px;
    font-size: 3rem;
    position: relative;
    z-index: 999;
}

.hook p {
    color: hsl(227, 12%, 61%);
    padding-top: 1.5rem;
    font-size: 16px;
    line-height: 25px;
}

.btnhook {
    position: sticky;
    height: 33px;
    width: 110px;
    background-color: hsl(12, 88%, 59%);
    padding-top: 11px;
    border-radius: 999px;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
    margin-top: 1.3rem;

}

.hook button {
    color: hsl(0, 0%, 98%);
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: none;
    margin-top: -0.7rem
}

.btnhook:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

.introillustration {
    position: relative;
    z-index: 999;
    transform: translateY(-57px);

}

.illustrationimg {
    height: auto;
    width: 30rem;
}

.backgroundimagemobile{
    display: none;
}

.rightpara {
    margin-left: 9vw;
}

.rightpara h1 {
    color: hsl(228, 39%, 23%);
    font-size: 2rem;
}

.rightpara p {
    color: hsl(227, 12%, 61%);
    ;
    padding-top: 1.5rem;
    font-size: 16px;
    line-height: 25px;
}

.difference {
    display: flex;
    gap: 12rem;

}

.expertisebox {
    display: flex;
    gap: 30px;
    padding-top: 10px;
}

.numbox {

    padding-top: 8px;
    height: 24px;
    width: 70px;
    text-align: center;
    border-radius: 999px;
    background-color: hsl(12, 88%, 59%);
    color: white;
    font-weight: 500;
}

.expertisebox h4 {
    padding-top: 8px;
    color: hsl(228, 39%, 23%);
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.expertisebox p {
    color: hsl(227, 12%, 61%);
    margin-top: 1.5rem;
    line-height: 25px;
}

.expertisebox2 {
    display: flex;
    gap: 30px;
    padding-top: 31px;
}

.expertisebox2 h4 {
    padding-top: 8px;
    color: hsl(228, 39%, 23%);
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.expertisebox2 p {
    color: hsl(227, 12%, 61%);
    margin-top: 1.5rem;
    line-height: 25px;
}

.expertisebox3 {
    display: flex;
    gap: 30px;
    padding-top: 31px;
}


.expertisebox3 h4 {
    padding-top: 8px;
    color: hsl(228, 39%, 23%);
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.expertisebox3 p {
    color: hsl(227, 12%, 61%);
    margin-top: 1.5rem;
    line-height: 25px;
}

.backgroundpattern2 {
    position: absolute;
    transform: translateX(-209px);
}

.imagepattern2 {
    height: 33rem;
    width: auto;
    transform: translateY(-14rem);
}


.testimonial {

    width: 100%;
}

.testimonial-track {
    display: flex;
    gap: 4vw;

}

.sliderwrappper {
    position: relative;
    z-index: 5;



}

.testimonial h1 {
    transform: translateY(2rem);
    text-align: center;
    font-size: 2rem;
    color: hsl(228, 39%, 23%);


}

.anishaimg {
    height: 70px;
    width: auto;
    position: absolute;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
}

.firsttestimonial {
    position: relative;
    margin-top: 35vh;
    height: 35vh;
    width: 35vw;
    background-color: hsl(0, 0%, 98%);
}

.firsttestimonial :nth-child(2) {
    text-align: center;
    transform: translateY(50px);
    color: hsl(228, 39%, 23%);
    ;

}

.firsttestimonial :nth-child(3) {
    transform: translateY(70px);
    font-size: 16px;
    text-align: center;
    color: hsl(227, 12%, 61%);
}

.testimonialbtn {
    height: 33px;
    width: 130px;
    background-color: hsl(12, 88%, 59%);
    padding-top: 11px;
    border-radius: 999px;
    text-align: center;
    vertical-align: middle;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;

}

.testimonialbtn button {
    color: hsl(0, 0%, 98%);
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: none;
    margin-top: -0.7rem
}

.testimonialbtn:hover {
    opacity: 0.5;
}



.hookfirstcont {
    /* position: relative; */
    margin-top: 30vh;
    height: 30vh;
    width: 100%;
    background-color: hsl(12, 88%, 59%);
}

.simplifypattern {
    transform: translateY(-240px);
    margin-left: 160px;
}

.desktoppattern {
    height: auto;
    width: 100vw;
}

.hookfirstcont h1 {
    color: hsl(0, 0%, 98%);
    font-weight: 600;
    margin-left: 16vw;
    transform: translateY(50%);


}




.simplifybtn {
    position: relative;
    height: 33px;
    width: 130px;
    background-color: hsl(0, 0%, 98%);

    border-radius: 999px;
    text-align: center;
    padding-top: 11px;
    margin-left: 71%;
    transform: translateY(-50%);

}

.simplifybtn button {
    color: hsl(12, 88%, 59%);
    background: none;
    border: none;
    font-weight: 700;

}

.simplifybtn:hover button {
    color: hsl(13, 100%, 96%);
}


.theend {
    position: relative;
    z-index: 66;
    min-height: 40vh;
    width: 100%;
    background-color: hsl(233, 12%, 13%);
}


.footerlogo {
    padding-top: 0vh;
    margin-left: 14vw;


}

.footerimg {
    height: 25vh;
    width: auto;

}



.allappicons {
    display: flex;
    gap: 0.9vw;
    margin-left: 16vw;
    padding-top: 4vh;
    filter: brightness(0) invert(1);
    /* white icons by default */
    transition: filter 0.3s ease;
    cursor: pointer;
}


.footerullist {
    margin-left: 35vw;
    transform: translateY(-23vh);

}


.footerullist ul {
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
    color: hsl(0, 0%, 98%);
    ;

}

.footerullist ul li {
    font-weight: 400;

}

.footerullist li:hover {
    color: hsl(12, 88%, 59%);
}

.secondfooterlist {
    margin-left: 52vw;
    transform: translateY(-47.5vh);
}

.secondfooterlist ul {
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
    color: hsl(0, 0%, 98%);
    font-weight: 400;

}

.secondfooterlist li:hover {
    color: hsl(12, 88%, 59%);
}

.secondfooterlist li {
    font-weight: 400;
}

.footerform {
    display: flex;
    gap: 1.2vw;
    margin-left: 73%;
    transform: translateY(-65.5vh);
}

.footerform input {
    width: 16vw;

    border-radius: 999px;
    border: none;

}

.footerform ::placeholder {
    font-size: 12px;
    padding-right: 20px;
    text-align: center;
}

.footerform button {
    background-color: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);
    height: 39px;
    width: 64px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}

.footerform button:hover {
    background-color: hsl(12, 69%, 64%);
}

@media (max-width :600px) {
    .logo {
        margin-left: 8vw;
    }

    .mainlogo {
        height: auto;
        width: 40vw;
        transform: translateY(-25px);

    }

    .navul {
        display: none;
    }

    .btnnav {
        display: none;
    }

    .backgroundimage1 {
        position: absolute;
        z-index: 1;
        margin-right: -95vw;
        transform: translateY(-14rem);
        height: auto;
        width: 165%;
    }

    .hamnav {
        display: block;

        /* margin-right: 5vw; */
        transform: translateY(-2.2vh);
    }

    .hamnav img {
        height: 30px;
    }

    .hamnavigation {
        position: relative;
        z-index: 999;
        transform: translateX(84vw);
        ;
        background: none;
        border: none;
    }

    .hamnavigation button {
        background: none;
        border: none;
    }

    .mobilemenu {
        display: none;
        position: absolute;
        z-index: 10;
        transform: translateX(-120%);
        height: 22vh;
        width: 44vw;
        background-color: hsl(0, 0%, 98%)
    }

    .mobilemenu.active {
        display: block;

    }

    .closebtn {
        display: none;
    }

    /* When menu is active, toggle visibility */
    .closebtn.active {
        display: inline;
    }

    .mobilemenu ul {

        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;

    }

    .closebtn {
        transform: translateY(-5vh);
    }

    .closebtn img {
        height: 14px;
        width: auto;
    }

    .hook {
        display: flex;
        flex-direction: column-reverse;
    }

    .illustrationimg {
        transform: translateX(2%);
        height: auto;
        width: 43rem;

    }

    .hooktext br {
        display: none;
    }

    .hooktext {
        transform: translateY(-16rem);
    }

    .hook h1 {
        color: hsl(228, 39%, 23%);
        line-height: 55px;
        font-size: 10vw;
        position: relative;
        z-index: 999;
        text-align: center;
        transform: translateX(40%);


    }

    .hook p {
        color: hsl(227, 12%, 61%);
        padding-top: 1.5rem;
        font-size: 20px;
        line-height: 28px;
        transform: translateX(40%);
        text-align: center;
    }

    .btnhook {
        position: sticky;
        height: 33px;
        width: 120px;
        background-color: hsl(12, 88%, 59%);
        padding-top: 11px;
        border-radius: 999px;
        text-align: center;
        vertical-align: middle;
        z-index: 5;
        margin-top: 2.3rem;
        transform: translateX(233%);

    }
 .backgroundpattern2{
    display: none;
 }

 .backgroundimagemobile{
    display: block;
    position: absolute;
        z-index: 1;
        margin-right: -95vw;
        transform: translateY(-14rem);
     
 }

 .imageillustrationmob{
    transform: translateX(206%);
        height: auto;
        width: 18rem;
 }


}
